.chart_wrapper {
    width: 100%;
    height: 32.56%;
    margin-bottom: 5px;
    position: relative;
}

.chart_border_default {
    border: 4px solid lightgray;
    border-radius: 10px;
}

.danger {
    border: 4px solid #e74645;
    border-radius: 8px;
}

.warning {
    border: 4px solid #facd60;
    border-radius: 8px;
}

.chart_info {
    position: absolute;
    z-index: 9;
    top: 5px;
    right: 10px;
    width: 20px;
    cursor: help;
}