.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 73px;
    background: #003c7c;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo_details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo_details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
    opacity: 1;
}

.sidebar .logo_details .sidebar_menu {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo_details .sidebar_menu {
    text-align: right;
}

.sidebar .sidebar_icon {
    color: #fff;
    height: 60px;
    min-width: 30px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
    margin-left: 8px;
}

.sidebar .sidebar_menu {
    color: #fff;
    height: 30px;
    width: 30px;
    min-width: 10px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
    padding: 5px;
    border-radius: 4px;
}

.sidebar .sidebar_menu:hover {
    background: #fff;
    color: #003c7c
}

.sidebar .nav_list {
    margin: 20px 0px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px #0000004d;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a,
.sidebar li .profile {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #003c7c;
    overflow: hidden;
}

.sidebar li a:hover,
.sidebar li .profile:hover {
    background: #FFF;
}

.sidebar li a .links_name,
.sidebar li .profile .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    margin-left: 10px;
}

.sidebar.open li a .links_name,
.sidebar.open li .profile .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover .sidebar_icon,
.sidebar li .profile:hover .links_name,
.sidebar li .profile:hover .sidebar_icon {
    transition: all 0.5s ease;
    color: #003c7c;
}

.sidebar li .sidebar_icon {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .54);
    opacity: 0;
    transition: width 0ms .25s, height 0ms .25s, opacity .25s;
}

.backdropShow {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: width 0ms, height 0ms, opacity .25s;
}