.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    height: calc(100vh - 20px);
    width: 70px;
    border-right: 3px solid #000;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.content {
    width: 100%;
    overflow: hidden;
    padding-left: 70px;
    overflow-y: auto;
}

.page_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
}